<div class="page-layout carded left-sidebar tabbed inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT HEADER -->
        <div class="header accent p-24">
            <div fxLayout="row" fxLayoutAlign="start start">
                <h2 class="m-0">Left sidebar with tabs and inner scroll</h2>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group>
                    <mat-tab label="Semestre 1">
                        <div class="tab-content p-24" >
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <notes-table></notes-table>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Semestre 2">
                        <div class="tab-content p-24" >
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <notes-table></notes-table>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Semestre 3">
                        <div class="tab-content p-24" >
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <fuse-demo-content></fuse-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Semestre 4">
                        <div class="tab-content p-24" >
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <fuse-demo-content></fuse-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Semestre 5">
                        <div class="tab-content p-24" >
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <fuse-demo-content></fuse-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Semestre 6">
                        <div class="tab-content p-24" >
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <fuse-demo-content></fuse-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>
                    <mat-tab label="Semestre 7">
                        <div class="tab-content p-24" >
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <fuse-demo-content></fuse-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>
                    <mat-tab label="Semestre 8">
                        <div class="tab-content p-24" >
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <fuse-demo-content></fuse-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>
                    <mat-tab label="Semestre 9">
                        <div class="tab-content p-24" >
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <fuse-demo-content></fuse-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>
                    <mat-tab label="PFE">
                        <div class="tab-content p-24" >
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <fuse-demo-content></fuse-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
