<div id="about" class="p-24" fxLayout="row">

    <div class="about-content" fxLayout="column" fxFlex="100">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">Informations Generalles</div>
            </header>

            <div class="content">
                <!-- NOM -->
                <div class="info-line" >
                    <div class="title" >Nom</div>
                    <div class="info" >{{ user.nom }}</div>
                </div>
                <!-- PRENOM -->
                <div class="info-line">
                    <div class="title" >Prenom</div>
                    <div class="info" >{{ user.prenom }}</div>
                </div>
                <div class="info-line" *ngIf="user.cne">
                    <div class="title">CNE</div>
                    <div class="info">{{user.cne || ""}}</div>
                </div>
                <div class="info-line">
                    <div class="title">CIN</div>
                    <div class="info">{{user.cin}}</div>
                </div>
                <div class="info-line">
                    <div class="title">Date de naissance</div>
                    <div class="info">{{user.birthday | date:'dd/MM/yyyy'}}</div>
                </div>
            </div>

        </div>

        <div class="profile-box info-box contact" fxLayout="column">

            <header class="accent">
                <div class="title">Contact</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Adresse</div>
                    <div class="info">{{user.adresse || ""}}</div>
                </div>
                <div class="info-line">
                    <div class="title">N° Telephone</div>
                    <div class="info">{{user.tel || ""}}</div>
                </div>
                <div class="info-line">
                    <div class="title">Email</div>
                    <div class="info">{{user.email}}</div>
                </div>
            </div>

        </div>

    </div>



</div>