<div class="customer mb-32">
    <table class="simple">
        <thead>
            <tr>
                <th>Nom et Prénom</th>
                <th>Email</th>
                <th>Absence</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <img class="avatar">
                        <span class="fullname text-truncate">admin admin
                        </span>
                    </div>
                </td>
                <td>
                    <span class="email text-truncate">admin@gmail.com</span>
                </td>
                <td>
                    <span class="absence text-truncate">
                        <mat-checkbox class="custom-frame">Absent(e)</mat-checkbox>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div fxLayoutAlign="center center">
    <button mat-raised-button style="background: #5D9E52;">
    Suivant
</button>
    <button mat-raised-button style="background: #838383;">
    Retour
</button>
</div>