<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button
                mat-icon-button
                (click)="matDialogRef.close()"
                aria-label="Close dialog"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

      
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="userForm">
        
            <!-- id -->
           
                    <input name="id" formControlName="id" matInput  style="display: none;"
                           required />
             <!-- CIN -->
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Ancien mot de passe</mat-label>
                    <mat-icon matSuffix class="secondary-text"
                        >vpn_key</mat-icon
                    >
                    <input name="old" formControlName="old" matInput 
                           required />
                </mat-form-field>
            </div>

            <!-- NOM -->
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nouvelle mot de passe</mat-label>
                    <mat-icon matSuffix class="secondary-text"
                        >vpn_key</mat-icon
                    >
                    <input
                        name="new"
                        formControlName="new"
                        matInput
                        type="text"
                        required
                    />
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Confirmer le mot de passe</mat-label>
                    <mat-icon matSuffix class="secondary-text"
                        >vpn_key</mat-icon
                    >
                    <input
                        name="confirm"
                        formControlName="confirm"
                        matInput
                        type="text"
                        required
                    />
                </mat-form-field>
            </div>
         
         

           
        </form>
    </div>
    <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end center"
    >
        

        <button
            mat-button
            class="save-button"
             (click)="matDialogRef.close(userForm.value)"
             [disabled]="!userForm.valid"

        >
            Enregistrer
        </button>
    </div>
</div>
