<mat-table #table [dataSource]="dataSource" [@animateStagger]="{ value: '50' }">
 
    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar" >
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let user">
            <img
                class="avatar"
                *ngIf="user.avatar"
                [alt]="user.name"
                [src]="user.avatar"
            />
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name" >
        <mat-header-cell *matHeaderCellDef><span style="margin-left: 10px;">Name</span></mat-header-cell>
        <mat-cell *matCellDef="let user">
            <p class="name text-truncate font-weight-600">
                {{ user.nom }} {{ user.prenom }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- CIN Column -->
    <ng-container matColumnDef="cin">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
            CIN
        </mat-header-cell>
        <mat-cell *matCellDef="let user" fxHide fxShow.gt-sm>
            <p class="phone text-truncate">
                {{ user.cin }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md
            >Email</mat-header-cell
        >
        <mat-cell *matCellDef="let user" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{ user.email }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let user">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="moreMenu"
                    aria-label="More"
                    (click)="$event.stopPropagation()"
                >
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>
                <mat-menu #moreMenu="matMenu" >
                    <button
                        mat-menu-item
                        aria-label="visiter profile"
                        (click)="visitProfile(user.id)"
                    >
                        <mat-icon>person</mat-icon>
                        <span>Profile</span>
                    </button>   
                    <hr class="list-devider">
                    <button *ngIf="user.type === 'Etudiant'"
                        mat-menu-item
                        aria-label="consulter les notes"
                        (click)="consulterNotes(user.id)"
                    >
                    <!-- TODO : FIND ICON -->
                        <mat-icon>files</mat-icon>
                        <span>Notes</span>
                    </button>
                    <hr class="list-devider" *ngIf="user.type === 'Etudiant'">
                    <button
                        mat-menu-item
                        aria-label="Supprimer"
                        (click)="deleteContact(user)"
                    >
                        <mat-icon>delete</mat-icon>
                        <span>Supprimer</span>
                    </button>
                </mat-menu>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
        *matRowDef="let user; columns: displayedColumns"
        class="contact"
        (click)="editContact(user)"
        [ngClass]="{ 'accent-50': checkboxes[user.id] }"
        [@animate]="{ value: '*', params: { y: '100%' } }"
    >
    </mat-row>
</mat-table>
 