<div
    id="dashboard-project"
    class="page-layout simple right-sidebar"
    fxLayout="row"
>
    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>
        <!-- CONTENT -->
        <div class="content">
            <!-- WIDGET  -->
            <fuse-widget
                [@animate]="{ value: '*', params: { y: '100%' } }"
                class="widget"
                fxLayout="row"
                fxFlex="100"
            >
                <!-- Front -->
                <div class="fuse-widget-front">
                    <div
                        class="p-24 mb-8 border-bottom"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <div class="h2">{{ widget.title }}</div>
                        <div class="text-boxed accent m-0">
                            {{ widget.table.rows.length }}
                            Demande(s)
                        </div>
                    </div>

                    <mat-table #table [dataSource]="widget.dataSource">
                        <!-- Avatar Column -->
                        <ng-container matColumnDef="avatar">
                            <mat-header-cell
                                fxFlex="96px"
                                *matHeaderCellDef
                            ></mat-header-cell>
                            <mat-cell fxFlex="96px" *matCellDef="let request">
                               <!-- *ngIf="request.etudiant.avatar" -->
                               <!-- -->

                                <img
                                    class="avatar"
                                    [alt]="request.etudiant.nom"
                                    [src]="'assets/images/avatars/'+request.etudiant.id +'.jpg'"
                                />
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="nom">
                            <mat-header-cell *matHeaderCellDef 
                            fxHide
                            fxShow.gt-sm
                                >Nom</mat-header-cell
                            >
                            <mat-cell 
                            *matCellDef="let request"
                            fxHide
                            fxShow.gt-sm>
                                <p class="text-truncate font-weight-600">
                                    {{ request.etudiant.nom }} {{ request.etudiant.prenom }}
                                </p>
                            </mat-cell>
                        </ng-container>
                        <!-- Name Column -->
                        <ng-container matColumnDef="cin">
                            <mat-header-cell *matHeaderCellDef >CIN</mat-header-cell>
                            <mat-cell *matCellDef="let request">
                                <p class="cin font-weight-600">
                                    {{ request.etudiant.cin }} 
                                </p>
                            </mat-cell>
                        </ng-container>

                        <!-- Email Column -->
                        <ng-container matColumnDef="email">
                            <mat-header-cell
                                *matHeaderCellDef
                                fxHide
                                fxShow.gt-sm
                                >Email
                            </mat-header-cell>
                            <mat-cell
                                *matCellDef="let request"
                                fxHide
                                fxShow.gt-sm
                            >
                                <p class="position text-truncate">
                                    {{ request.etudiant.email }}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="date">
                            <mat-header-cell
                                *matHeaderCellDef
                                fxHide
                                fxShow.gt-md
                                >Date
                            </mat-header-cell>
                            <mat-cell
                                *matCellDef="let request"
                                fxHide
                                fxShow.gt-md
                            >
                                <p class="office text-truncate">
                                    {{ request.date.slice(0,10) }}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <!-- Document Column -->
                        <ng-container matColumnDef="document">
                            <mat-header-cell *matHeaderCellDef
                                >Document
                            </mat-header-cell>
                            <mat-cell
                                *matCellDef="let request"
                            >
                                <p class="document text-truncate">
                                    {{ request.type || request.autre }}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <!-- action Column -->
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef
                                >Action
                            </mat-header-cell>
                            <mat-cell
                                *matCellDef="let request"
                            >
                                <button class="action-btn"
                                    mat-mini-fab
                                   (click)="attachFile(request)"
                                >
                                    <mat-icon>attachment</mat-icon>
                                </button>
                                <button (click)="confirmDialog()"
                                 mat-mini-fab class="action-btn delete-btn mat-warn">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row
                            *matHeaderRowDef="widget.table.columns"
                        ></mat-header-row>
                        <mat-row
                            *matRowDef="
                                let request;
                                columns: widget.table.columns
                            "
                        >
                        </mat-row>
                    </mat-table>
                </div>
                <!-- / Front -->
            </fuse-widget>
            <!-- / WIDGET  -->
        </div>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->
</div>
