<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <img class="profile-image avatar huge" [src]="user.avatar"
                 [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{user.nom + " " + user.prenom}}
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
            <input type="file" #avatarImg style="display: none;" (change)="onAvatarSelected($event)" accept="image/png, image/jpeg">
            <button mat-raised-button color="accent" (click)="avatarImg.click()" aria-label="Modifier l'image de profile">Modifier l'image de profile</button>
            <button (click)="editPassword()" mat-raised-button color="primary" aria-label="Modifer mot de passe">Modifier mot de passe</button>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
                <profile-about></profile-about>
    </div>
    <!-- / CONTENT -->

</div>