<div id="seance" class="page-layout simple">
    <!-- CONTENT -->
    <div class="content">
        <mat-vertical-stepper linear #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form
                    [formGroup]="firstFormGroup"
                    fxLayout="column"
                    (ngSubmit)="submitFirstForm($event)"
                >
                    <ng-template matStepLabel>Informations</ng-template>

                    <div
                        fxLayout="column"
                        fxLayout.lg="row"
                        fxLayoutAlign="start center"
                        fxFlex="1 1 auto"
                    >
                        <!-- <input matInput formControlClass="class" required> -->
                        <mat-form-field
                            appearance="outline"
                            fxFlex="50"
                            style="width: 100%"
                            class="pl-4"
                        >
                            <mat-label>Classe</mat-label>
                            <mat-select
                                (selectionChange)="onClassSelected($event.value)"
                                formControlName="class"
                                required
                            >
                            <mat-option value="1">Semestre 1</mat-option>
                            <mat-option value="2">Semestre 2</mat-option>
                            <mat-option value="3">Semestre 3</mat-option>
                            <mat-option value="4">Semestre 4</mat-option>
                            <mat-option value="5">Semestre 5</mat-option>
                            <mat-option value="6">Semestre 6</mat-option>
                            <mat-option value="7">Semestre 7</mat-option>
                            <mat-option value="8">Semestre 8</mat-option>
                            <mat-option value="9">Semestre 9</mat-option>
                            <mat-option value="10">PFE</mat-option>
                            </mat-select>
                            <mat-error>La classe est requise!</mat-error>
                        </mat-form-field>
                        <mat-form-field
                            appearance="outline"
                            fxFlex="50"
                            style="width: 100%"
                            class="pl-4"
                        >
                            <mat-label>Matiere</mat-label>
                            <mat-select formControlName="matiere" required >
                                <mat-option *ngFor="let matiere of matieres" value="matiere.id">{{matiere.nom}}</mat-option>
                            </mat-select>
                            <!-- <input matInput formControlSubject="subject" required> -->
                            <mat-error>La matiere est requise!</mat-error>
                        </mat-form-field>
                    </div>
                    <div
                        fxLayout="column"
                        fxLayout.lg="row"
                        fxLayoutAlign="start center"
                        fxFlex="1 0 auto"
                    >
                        <mat-form-field
                            appearance="outline"
                            fxFlex="50"
                            style="width: 100%"
                            class="pl-4"
                        >
                            <mat-label>Date de la seance</mat-label>
                            <input
                                matInput
                                [matDatepicker]="picker"
                                formControlName="date"
                                required
                                placeholder="mm/jj/yyyy"
                            />
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="picker"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error>La date est requise!</mat-error>
                        </mat-form-field>

                        <mat-form-field
                            appearance="outline"
                            fxFlex="50"
                            class="pl-4"
                            style="width: 100%"
                        >
                            <mat-label>Heure de debut</mat-label>
                            <input
                                [ngxTimepicker]="heureDebut"
                                [format]="24"
                                matInput
                                formControlName="heureDebut"
                                readonly
                                required
                            />
                            <ngx-material-timepicker
                                [theme]="costumTheme"
                                #heureDebut
                                [defaultTime]="'14:30'"
                                [appendToInput]="true"
                            ></ngx-material-timepicker>
                            <mat-icon matSuffix>access_time</mat-icon>
                            <mat-error>L'heure est requise!</mat-error>
                        </mat-form-field>

                        <mat-form-field
                            appearance="outline"
                            fxFlex="50"
                            class="pl-4"
                            style="width: 100%"
                        >
                            <mat-label>Heure de Fin</mat-label>
                            <input
                                [ngxTimepicker]="heureFin"
                                [format]="24"
                                matInput
                                formControlName="heureFin"
                                readonly
                                required
                            />
                            <ngx-material-timepicker
                                [theme]="costumTheme"
                                #heureFin
                                [defaultTime]="'16:30'"
                                [appendToInput]="true"
                            ></ngx-material-timepicker>
                            <mat-icon matSuffix>access_time</mat-icon>
                            <mat-error>L'heure est requise!</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <button
                            style="
                                display: block;
                                margin-left: auto;
                                margin-right: auto;
                                margin-top: 20px;
                            "
                            mat-flat-button
                            color="accent"
                            [disabled]="!firstFormGroup.valid"
                            mat-button
                            matStepperNext
                        >
                            Suivant
                        </button>
                    </div>
                </form>

                <!-- </form> -->
            </mat-step>
            <mat-step
                [stepControl]="secondFormGroup"
                label="Liste d'absence"
            >
                <table
                    mat-table
                    [dataSource]="dataSource"
                >
                    <!-- Position Column -->
                    <ng-container matColumnDef="avatar">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let student">
                            {{ student.avatar }}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nom">
                        <th mat-header-cell *matHeaderCellDef>Nom</th>
                        <td mat-cell *matCellDef="let student">
                            {{ studnet.nom }} {{ student.prenom }}
                        </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="cin">
                        <th mat-header-cell *matHeaderCellDef>CIN</th>
                        <td mat-cell *matCellDef="let student">
                            {{ sctudent.cin }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox
                                (change)="$event ? masterToggle() : null"
                                [checked]="
                                    selection.hasValue() && isAllSelected()
                                "
                                [indeterminate]="
                                    selection.hasValue() && !isAllSelected()
                                "
                            >
                            </mat-checkbox>
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let row"
                            click="selection.toggle(row)"
                        >
                            <mat-checkbox
                                (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                            >
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                </table>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>Rapport de seance</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>
    <!-- / CONTENT -->
</div>
