@import "src/@fuse/scss/fuse";
#seance {
    background-color: white;
    .content {
        flex: 1;
    }
}

table[mat-table]{
        width: 100%;
}


body.theme-default .mat-step-header {
    background-color: whitesmoke;
    margin-top: 12px;
    .mat-step-icon-selected,
    .mat-step-icon-state-done,
    .mat-step-icon-state-edit {
        background-color: green !important;
    }
}
.mat-form-field {
    margin-top: 12px;
}

ngx-material-timepicker-content > .ng-star-inserted {
    position: absolute !important;
    top: 100px !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
}
