@import "src/@fuse/scss/fuse";
#seance {
    .content {
        flex: 1;
        mat-tab-group {
            height: 100%;
            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }
}

.mat-tab-label-container {
    margin: 20px;
}

.mat-tab-label .mat-tab-label-content {
    font-size: 20px;
    color: black;
}
.mat-stepper-horizontal {
    margin-top: 8px;

    .mat-step-icon-selected{
        background-color: green !important;
    }
  }
  
  .mat-form-field {
    margin-top: 16px;
  }


  