<form [formGroup]="infoFormGroup"   fxLayout="column">
    <ng-template matStepLabel>Informations</ng-template>

        <div fxLayout="column" fxLayout.lg="row"  fxLayoutAlign="start center" fxFlex="1 1 auto">
            

                <!-- <input matInput formControlClass="class" required> -->
                <mat-form-field appearance="outline" fxFlex="50" style="width: 100%;"  class="pl-4" >
                    <mat-label>Date de la seance</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date" required placeholder="mm/jj/yyyy">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker ></mat-datepicker>
                    <mat-error>La date est requise!</mat-error>
                </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50" style="width: 100%;"  class="pl-4">
                <mat-label>Matiere</mat-label>
                <mat-select formControlName="matiere">
                    <mat-option value="1">Matiere1</mat-option>
                    <mat-option value="2">Matiere2</mat-option>
                    <mat-option value="3">Matiere3</mat-option>
                    <mat-option value="4">Matiere4</mat-option>
                    <mat-option value="5">Matiere5</mat-option>
                </mat-select>
                <!-- <input matInput formControlSubject="subject" required> -->
                <mat-error>La matiere est requise!</mat-error>
            </mat-form-field>

        </div>
        <div  fxLayout="column" fxLayout.lg="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4" style="width: 100%;">
                <mat-label>Heure de debut</mat-label>
                <input  [ngxTimepicker]="heureDebut" [format]="24"  matInput formControlName="heureDebut" readonly required>
                <ngx-material-timepicker  [theme]="costumTheme"  #heureDebut [defaultTime]="'14:30'" [appendToInput]="true"></ngx-material-timepicker>
                <mat-icon matSuffix >access_time</mat-icon>
                <mat-error>L'heure est requise!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50" class="pl-4" style="width: 100%;">
                <mat-label>Heure de Fin</mat-label>
                <input  [ngxTimepicker]="heureFin" [format]="24"  matInput formControlName="heureFin" readonly required>
                <ngx-material-timepicker  [theme]="costumTheme"    #heureFin [defaultTime]="'16:30'" [appendToInput]="true"></ngx-material-timepicker>
                <mat-icon matSuffix >access_time</mat-icon>
                <mat-error>L'heure est requise!</mat-error>
            </mat-form-field>
        </div>
        <div>
            <button style="display:block;margin-left: auto;margin-right: auto;margin-top: 20px;"  mat-button matStepperNext>Suivant</button>
        </div>
</form>