<form
    class=""
    fxLayout="column"
    fxLayoutAlign="start"
    fxFlex="1 0 auto"
    name="form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>CNE</mat-label>
            <input matInput formControlName="cne" required readonly />
            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>First name</mat-label>
            <input  matInput formControlName="firstName" required readonly/>
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
            <mat-error>First Name is required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName" required readonly/>
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
            <mat-error>Last Name is required!</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required readonly/>
            <mat-icon matSuffix class="secondary-text">email</mat-icon>
            <mat-error>Email is required!</mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Date</mat-label>
            <input matInput formControlName="date" required readonly/>
            <mat-icon matSuffix class="secondary-text">insert_invitation</mat-icon>
            <mat-error>Date is required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
            <mat-label>Document</mat-label>
            <input matInput formControlName="document" required readonly/>
            <mat-icon matSuffix class="secondary-text">insert_drive_file</mat-icon>
            <mat-error>Last Name is required!</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>click here to insert a file</mat-label>
            <ngx-mat-file-input
                formControlName="file"
                placeholder="click here to add a file"
                [accept]="'.pdf'"
                required 
            ></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
            <mat-error>A PDF file  is required!</mat-error>

        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-2">
        <button
            mat-raised-button
            type="submit"
            color="primary"
        >
            SEND
        </button>            

    </div>
</form>
