  <table class="table table-bordered " >
    <thead>
        <tr>
            <th class="no-border" scope="col"></th>
            <th class="no-border" scope="col" ></th>
            <th class="no-border" scope="col" ></th>
            <th style="text-align:center" scope="colgroup" colspan="6">Session normale</th>
            <th style="text-align:center" scope="colgroup" colspan="3">Session ratrappage</th>
        </tr>
        <tr>
            <th scope="col">Code Module</th>
            <th scope="col">Intitulé du Module</th>
            <th scope="col">Elements du modules</th>
            <th scope="col">Controle continu</th>
            <th scope="col">Travaux pratiques</th>
            <th scope="col">Examen Final</th>
            <th scope="col">Note Finale</th>
            <th scope="col">Moyenne module</th>
            <th scope="col">Decision</th>
            <th scope="col">Note Matiere</th>
            <th scope="col">Note Finale</th>
            <th scope="col">Decision</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="module" rowspan="3" scope="rowgroup">C1S1M10</td>
            <td rowspan="3" scope="rowgroup">Mathematiques</td>
            <td scope="row">Mathematiques pour l'ingenieur</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="3" scope="rowgroup"></td>
            <td rowspan="3" scope="rowgroup"></td>
            <td></td>
            <td rowspan="3" scope="rowgroup"></td>
            <td rowspan="3" scope="rowgroup"></td>
        </tr>
        <tr>
            <td scope="row">Theorie des probabilites</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td scope="row">Analyse numeriques</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="3" scope="rowgroup">C1S1M20</td>
            <td rowspan="3" scope="rowgroup">Sciences physiques</td>
            <td scope="row">Transfert thermique</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="3" scope="rowgroup"></td>
            <td rowspan="3" scope="rowgroup"></td>
            <td></td>
            <td rowspan="3" scope="rowgroup"></td>
            <td rowspan="3" scope="rowgroup"></td>
        </tr>
        <tr>
            <td scope="row">Mecanique des systemes de solides</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td scope="row">Resistance des materiaux</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2" scope="rowgroup">C1S1M30</td>
            <td rowspan="2" scope="rowgroup">Automatique</td>
            <td scope="row">Outils de simulation</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="2" scope="rowgroup"></td>
            <td rowspan="2" scope="rowgroup"></td>
            <td></td>
            <td rowspan="2" scope="rowgroup"></td>
            <td rowspan="2" scope="rowgroup"></td>
        </tr>
        <tr>
            <td scope="row">Automatique des systemes aservis</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2" scope="rowgroup">C1S1M40</td>
            <td rowspan="2" scope="rowgroup">Informatique industrielle</td>
            <td scope="row">Microprocesseurs,MicroControlleurs</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="2" scope="rowgroup"></td>
            <td rowspan="2" scope="rowgroup"></td>
            <td></td>
            <td rowspan="2" scope="rowgroup"></td>
            <td rowspan="2" scope="rowgroup"></td>
        </tr>
        <tr>
            <td scope="row">Logique combinatoire et sequentielle</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="3" scope="rowgroup">C1S1M50</td>
            <td rowspan="3" scope="rowgroup">Langue et communication 1</td>
            <td scope="row">Techniques de communication 1</td>
            <td rowspan="3" scope="rowgroup"></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="3" scope="rowgroup"></td>
            <td rowspan="3" scope="rowgroup"></td>
            <td></td>
            <td rowspan="3" scope="rowgroup"></td>
            <td rowspan="3" scope="rowgroup"></td>
        </tr>
        <tr>
            <td scope="row">Anglais 1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td scope="row">Allemand 1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="3" scope="rowgroup">C1S1M60</td>
            <td rowspan="3" scope="rowgroup">Environnement economique de l'entreprise</td>
            <td scope="row">Analyse economique des activités et des organisations</td>
            <td rowspan="3" scope="rowgroup"></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="3" scope="rowgroup"></td>
            <td rowspan="3" scope="rowgroup"></td>
            <td></td>
            <td rowspan="3" scope="rowgroup"></td>
            <td rowspan="3" scope="rowgroup"></td>
        </tr>
        <tr>
            <td scope="row">Institutions administratives et juridictionnels</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td scope="row">Projet initiative et creativité 1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>


    </tbody>
</table>
