<div id="dashboard-project" class="page-layout simple right-sidebar" fxLayout="row">

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="header accent p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="row" fxLayoutAlign="space-between start">

                <span class="mat-display-1 my-0 my-sm-24 welcome-message"
                    [@animate]="{value:'*',params:{x:'50px'}}">Welcome back, Abderrazzaq!
                </span>


            </div>


        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">
            <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                [@animateStagger]="{value:'50'}">
                <!-- RAPPORTS -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                    fxFlex.gt-sm="50">

                    <!-- Front -->
                    <div class="fuse-widget-front">

                        <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="h3">{{widgets.widget7.title}}</div>
                            <mat-form-field>
                                <mat-select class="simplified" [(ngModel)]="widget7.currentRange"
                                    aria-label="Change range">
                                    <mat-option *ngFor="let range of widgets.widget7.ranges | keys" [value]="range.key">
                                        {{range.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center"
                            *ngFor="let event of widgets.widget7.schedule[widget7.currentRange]">
                            <div>
                                <div class="h3">● {{event.title}}</div>
                                <div>
                                    <span class="secondary-text">{{event.time}}</span>
                                    <span *ngIf="event.location">, {{event.location}}</span>
                                </div>
                            </div>

                            <button mat-icon-button aria-label="More information">
                                <mat-icon>remove_red_eye</mat-icon>
                            </button>
                        </div>

                    </div>
                    <!-- / Front -->

                </fuse-widget>
                <!-- / RAPPORTS -->

                <!-- ABSENCE -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                    fxFlex.gt-sm="50">

                    <!-- Front -->
                    <div class="fuse-widget-front">

                        <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="h3">{{widgets.widget7.title}}</div>
                            <mat-form-field>
                                <mat-select class="simplified" [(ngModel)]="widget7.currentRange"
                                    aria-label="Change range">
                                    <mat-option *ngFor="let range of widgets.widget7.ranges | keys" [value]="range.key">
                                        {{range.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center"
                            *ngFor="let event of widgets.widget7.schedule[widget7.currentRange]">
                            <div>
                                <div class="h3">● {{event.title}}</div>
                                <div>
                                    <span class="secondary-text">{{ "seance.time" + " de " + "seance.dateDebut" + " à " + "seance.dateFin    " }}</span>
                                    <span *ngIf="event.location">, {{event.location}}</span>
                                </div>
                            </div>

                            <button mat-icon-button aria-label="More information">
                                <mat-icon>remove_red_eye</mat-icon>
                            </button>
                        </div>

                    </div>
                    <!-- / Front -->

                </fuse-widget>
                <!-- / ABSENCE -->

            </div>
            <!-- / WIDGET GROUP -->

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->


</div>